.inner-nav.onepage-nav
    ul
        li: a(href="#home")
            span.menu-item-span Home

        li: a(href="#about")
            span.menu-item-span About

        li: a(href="#portfolio")
            span.menu-item-span Portfolio

        li: a(href="#services")
            span.menu-item-span Services

        li: a(href="#team")
            span.menu-item-span Team

        li: a(href="#blog")
            span.menu-item-span Blog

        li: a(href="#contact")
            span.menu-item-span Contact

        li: a(href="start.html")
            span.menu-item-span Demos