.inner-nav
    ul
        li.menu-item-has-children.menu-item-has-mega-menu
            a(href="#")
                span.menu-item-span Home
            .mega-menu
                ul.sub-menu.mega-menu-row(data-background="assets/images/menu-3.jpg")
                    // Column 1
                    li.menu-item-has-children.mega-menu-col
                        a(href="#") Multi Page
                        ul.sub-menu
                            li: a(href="index.html") Parallax
                            li: a(href="index-3.html") Slider - Fade
                            li: a(href="index-2.html") Slider - Slide
                            li: a(href="index-7.html") Gradient Style 1
                            li: a(href="index-8.html") Gradient Style 2
                            li: a(href="index-6.html") Local Video
                            li: a(href="index-5.html") Vimeo Video
                            li: a(href="index-4.html") Youtube Video
                    // Column 2
                    li.menu-item-has-children.mega-menu-col
                        a(href="#") One Page
                        ul.sub-menu
                            li: a(href="op-index.html") Parallax
                            li: a(href="op-index-3.html") Slider - Fade
                            li: a(href="op-index-2.html") Slider - Slide
                            li: a(href="op-index-7.html") Gradient Style 1
                            li: a(href="op-index-8.html") Gradient Style 2
                            li: a(href="op-index-6.html") Local Video
                            li: a(href="op-index-5.html") Vimeo Video
                            li: a(href="op-index-4.html") Youtube Video

        li.menu-item-has-children.menu-item-has-mega-menu
            a(href="#")
                span.menu-item-span Pages
            .mega-menu
                ul.sub-menu.mega-menu-row(data-background="assets/images/menu-1.jpg")
                    // Column 1
                    li.menu-item-has-children.mega-menu-col
                        a(href="#") Pages 1
                        ul.sub-menu
                            li: a(href="about-1.html") About Us 1
                            li: a(href="about-2.html") About Us 2
                            li: a(href="services-1.html") Services 1
                            li: a(href="services-2.html") Services 2
                            li: a(href="timeline.html") Timeline
                            li: a(href="pricing-1.html") Pricing
                            li: a(href="faqs.html") FAQs
                    // Column 2
                    li.menu-item-has-children.mega-menu-col
                        a(href="#") Pages 2
                        ul.sub-menu
                            li: a(href="sign-in.html") Sign in
                            li: a(href="sign-up.html") Sign Up
                            li: a(href="recover-password.html") Password
                            li: a(href="contact-3.html") Contact
                            li: a(href="contact-2.html") Map Contact
                            li: a(href="contact-1.html") Image Contact

        li.menu-item-has-children
            a(href="#")
                span.menu-item-span Portfolio
            ul.sub-menu
                li: a(href="portfolio-7.html") Carousel
                li.menu-item-has-children
                    a(href="#") Wide
                    ul.sub-menu
                        li: a(href="portfolio-1.html") 5 Columns
                        li: a(href="portfolio-2.html") 4 Columns
                        li: a(href="portfolio-3.html") 3 Columns
                li.menu-item-has-children
                    a(href="#") Boxed
                    ul.sub-menu
                        li: a(href="portfolio-4.html") 4 Columns
                        li: a(href="portfolio-5.html") 3 Columns
                        li: a(href="portfolio-6.html") 2 Columns
                li.menu-item-has-children
                    a(href="#") Single
                    ul.sub-menu
                        li: a(href="portfolio-single-1.html") Sidebar Stack
                        li: a(href="portfolio-single-2.html") Sidebar Slides
                        li: a(href="portfolio-single-3.html") Sidebar Gallery
                        li: a(href="portfolio-single-4.html") Centered Stack
                        li: a(href="portfolio-single-5.html") Centered Slides
                        li: a(href="portfolio-single-6.html") Centered Gallery

        li.menu-item-has-children
            a(href="#")
                span.menu-item-span Blog
            ul.sub-menu
                li.menu-item-has-children
                    a(href="#") Classic
                    ul.sub-menu
                        li: a(href="blog-1.html") Right Sidebar
                        li: a(href="blog-2.html") Left Sidebar
                        li: a(href="blog-3.html") No Sidebar
                li.menu-item-has-children
                    a(href="#") Masonry
                    ul.sub-menu
                        li: a(href="blog-4.html") Right Sidebar
                        li: a(href="blog-5.html") Left Sidebar
                        li: a(href="blog-6.html") No Sidebar
                li.menu-item-has-children
                    a(href="#") Side Image
                    ul.sub-menu
                        li: a(href="blog-7.html") Right Sidebar
                        li: a(href="blog-8.html") Left Sidebar
                li.menu-item-has-children
                    a(href="#") Single Post
                    ul.sub-menu
                        li: a(href="blog-single-1.html") Right Sidebar
                        li: a(href="blog-single-2.html") Left Sidebar
                        li: a(href="blog-single-3.html") No Sidebar

        li.menu-item-has-children
            a(href="#")
                span.menu-item-span Shop
            ul.sub-menu
                li: a(href="shop-grid-1.html") Shop 2 Columns
                li: a(href="shop-grid-2.html") Shop 3 Columns
                li: a(href="shop-grid-3.html") Shop 4 Columns
                li: a(href="shop-single-1.html") Single Product
                li: a(href="shop-checkout.html") Checkout
                li: a(href="shop-cart-1.html") Cart

        li.menu-item-has-children.menu-item-has-mega-menu
            a(href="#")
                span.menu-item-span Components
            .mega-menu
                ul.sub-menu.mega-menu-row(data-background="assets/images/menu-2.jpg")
                    // Column 1
                    li.menu-item-has-children.mega-menu-col
                        a(href="#") Group 1
                        ul.sub-menu
                            li: a(href="components-alerts.html") #[i.fas.fa-exclamation-triangle] Alerts
                            li: a(href="components-accordion.html") #[i.fas.fa-plus-square] Accordion
                            li: a(href="components-buttons.html") #[i.fas.fa-link] Buttons
                            li: a(href="components-clients.html") #[i.fab.fa-amazon] Clients
                            li: a(href="components-counters.html") #[i.fas.fa-superscript] Counters
                            li: a(href="components-maps.html") #[i.fas.fa-map] Google Maps
                            li: a(href="components-grid.html") #[i.fas.fa-th] Grid
                            li: a(href="components-hero.html") #[i.fas.fa-object-ungroup] Hero
                            li: a(href="components-iconbox.html") #[i.fas.fa-bold] IсonBox
                    // Column 2
                    li.menu-item-has-children.mega-menu-col
                        a(href="#") Group 2
                        ul.sub-menu
                            li: a(href="components-forms.html") #[i.fas.fa-align-justify] Inputs
                            li: a(href="components-modal.html") #[i.fas.fa-plus-square] Modal
                            li: a(href="components-pie.html") #[i.fas.fa-chart-pie] Pie charts
                            li: a(href="components-pricing.html") #[i.fas.fa-dollar-sign] Pricing Tables
                            li: a(href="components-progress.html") #[i.fas.fa-tasks] Progress Bars
                            li: a(href="components-sections.html") #[i.fas.fa-object-ungroup] Sections
                            li: a(href="components-sliders.html") #[i.fas.fa-images] Sliders
                            li: a(href="components-tabs.html") #[i.fas.fa-columns] Tabs
                            li: a(href="components-team.html") #[i.far.fa-user-circle] Team
                    // Column 3
                    li.menu-item-has-children.mega-menu-col
                        a(href="#") Group 3
                        ul.sub-menu
                            li: a(href="components-testimonials.html") #[i.fas.fa-quote-right] Testimonials
                            li: a(href="components-tooltips.html") #[i.far.fa-question-circle] Tooltips
                            li: a(href="components-typography.html") #[i.fas.fa-font] Typography
                            li: a(href="components-video.html") #[i.fab.fa-youtube] Video
                            li: a(href="documentation.html") #[i.fas.fa-info-circle] Documentation

        li
            a(href="start.html")
                span.menu-item-span Demos

