extends include/templates/layout

block vars
    - var header_transparent = true;

append css

append content

    // Hero
    section.module-cover.parallax.text-center(data-background="assets/images/module-17.jpg" data-overlay="0.3")
        .container

            .row
                .col-md-12
                    h2 Bluetooth Speaker
                    ol.breadcrumb.justify-content-center
                        li.breadcrumb-item: a(href="#") Home
                        li.breadcrumb-item: a(href="#") Blog
                        li.breadcrumb-item.active Single Post
    // Hero end

    = "\n"

    // Blog
    section.module
        .container

            .row
                .col-lg-8.m-auto
                    // Post
                    article.post
                        .post-preview
                            img(src="assets/images/blog/1.jpg" alt="")
                        .post-wrapper
                            .post-header
                                h1.post-title
                                    | Minimalist Chandelier
                                ul.post-meta
                                    li November 18, 2016
                                    li In #[a(href="#") Branding], #[a(href="#") Design]
                                    li #[a(href="#") 3 Comments]
                            .post-content
                                p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Seitan High Life reprehenderit consectetur cupidatat kogi about me. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi.
                                p Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean shorts fixie consequat flexitarian four loko.
                                blockquote.blockquote
                                    p To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment.
                                    footer.blockquote-footer Amanda Pollock, Google Inc.
                                p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Seitan High Life reprehenderit consectetur cupidatat kogi about me. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica.
                                p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Seitan High Life reprehenderit consectetur cupidatat kogi about me. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi.
                                ol
                                    li Digital Strategy
                                    li Software Development
                                    li Interaction Design
                                p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Seitan High Life reprehenderit consectetur cupidatat kogi about me. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica.
                                p Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean shorts fixie consequat flexitarian four loko.
                            .post-footer
                                .post-tags
                                    a(href="#") Lifestyle
                                    a(href="#") Music
                                    a(href="#") News
                                    a(href="#") Travel
                    // Post end

                    = "\n"

                    // Comments area
                    .comments-area.m-b-50
                        h5.comments-title 3 Comments
                        .comment-list
                            // Comment
                            .comment
                                .comment-author
                                    img.avatar(src="assets/images/avatar/1.jpg" alt="")
                                .comment-body
                                    .comment-meta
                                        .comment-meta-author
                                            a(href="#") Jason Ford
                                        .comment-meta-date
                                            a(href="#")
                                                | May 5, 2015 at 4:51 am
                                    .comment-content
                                        p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Seitan High Life reprehenderit consectetur cupidatat kogi about me. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica.
                                    .comment-reply
                                        a(href="#") Reply

                                // Subcomment
                                .children
                                    .comment
                                        .comment-author
                                            img.avatar(src="assets/images/avatar/2.jpg" alt="")
                                        .comment-body
                                            .comment-meta
                                                .comment-meta-author
                                                    a(href="#") Harry Benson
                                                .comment-meta-date
                                                    a(href="#")
                                                        | May 5, 2015 at 4:51 am
                                            .comment-content
                                                p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Seitan High Life reprehenderit consectetur cupidatat kogi about me. Photo booth anim 8-bit hella.
                                            .comment-reply
                                                a(href="#") Reply
                            // Comment
                            .comment
                                .comment-author
                                    img.avatar(src="assets/images/avatar/3.jpg" alt="")
                                .comment-body
                                    .comment-meta
                                        .comment-meta-author
                                            a(href="#") Henry Cain
                                        .comment-meta-date
                                            a(href="#")
                                                | May 5, 2015 at 4:51 am
                                    .comment-content
                                        p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Seitan High Life reprehenderit consectetur cupidatat kogi about me. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica.
                                    .comment-reply
                                        a(href="#") Reply

                        .comment-respond
                            h5.comment-reply-title Leave a Reply
                            p.comment-notes Your email address will not be published. Required fields are marked
                            form.comment-form.row
                                .form-group.col-md-4
                                    input(type="text" class="form-control" placeholder="Name")
                                .form-group.col-md-4
                                    input(type="text" class="form-control" placeholder="Email")
                                .form-group.col-md-4
                                    input(type="url" class="form-control" placeholder="Website")
                                .form-group.col-md-12
                                    textarea(class="form-control" rows="8" placeholder="Comment")
                                .form-submit.col-md-12
                                    button(type="submit" class="btn btn-dark") Post Comment
                    // Comments area end
    // Blog end