extends include/templates/layout

append css

append content

    // Map
    section.maps-container
        .map(data-addresses="[48.859822, 2.352647]" data-info="[Lorem ipsum dolor sit amet.]" data-icon="assets/images/map-icon.png" data-zoom="15")
    // Map end

    = "\n"

    // Services
    section.module
        .container

            .row
                .col-lg-3.col-md-6
                    +IconBox("ti-email", "Drop us a line", "Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum amet.", "text-center", true)
                .col-lg-3.col-md-6
                    +IconBox("ti-wallet", "Commercial", "Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum amet.", "text-center", true)
                .col-lg-3.col-md-6
                    +IconBox("ti-headphone-alt", "Support", "Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum amet.", "text-center", true)
                .col-lg-3.col-md-6
                    +IconBox("ti-map-alt", "Visit our office", "Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum amet.", "text-center", true)
    // Services end

    = "\n"

    // Form
    section.module.divider-top
        .container

            .row
                .col-lg-6.col-md-9.m-auto.text-center
                    h1 Contact Us.
                    p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

            .row
                .col-md-12
                    .space(data-MY="60px")

            .row
                .col-md-12
                    form#contact-form(method="post" novalidate)
                        .row
                            .col-md-4
                                .form-group
                                    input.form-control(type="text" name="name" placeholder="Name" required="")
                                    p.help-block.text-danger
                            .col-md-4
                                .form-group
                                    input.form-control(type="email" name="email" placeholder="E-mail" required="")
                                    p.help-block.text-danger
                            .col-md-4
                                .form-group
                                    input.form-control(type="text" name="subject" placeholder="Subject" required="")
                                    p.help-block.text-danger
                            .col-md-12
                                .form-group
                                    textarea.form-control(name="message" placeholder="Message" rows="12" required="")
                            .col-md-12
                                p.text-center
                                    input(type="submit" class="btn btn-circle btn-brand" value="Send Message")
                    // Ajax response
                    #contact-response.ajax-response.text-center
    // Form end


