extends include/templates/layout

block vars
    - var header_transparent = true;

append css

append content

    // Hero
    section.module-cover.parallax.text-center(data-background="assets/images/module-17.jpg" data-overlay="0.3")
        .container

            .row
                .col-md-12
                    h2 Digital Design.
                    p Experienced and Friendly.
    // Hero end

    = "\n"

    // Portfolio
    section.module.p-t-35.p-b-0
        .container

            .row
                .col-md-12
                    ul.filters.serif
                        li: a(href="#" data-filter="*" class="current") All
                        li: a(href="#" data-filter=".branding") Branding
                        li: a(href="#" data-filter=".digital") Digital
                        li: a(href="#" data-filter=".packaging") Packaging

        .container-fluid
            .row.row-portfolio(data-columns="5")
                .grid-sizer
                +PortfolioItem("assets/images/portfolio/9.jpg", "Solave Cleanser", "branding", "Digital")
                +PortfolioItem("assets/images/portfolio/4.jpg", "Monochrome", "digital", "Branding")
                +PortfolioItem("assets/images/portfolio/10.jpg", "Ellie Cashman", "packaging", "Packaging")
                +PortfolioItem("assets/images/portfolio/6.jpg", "White Sleeve", "branding", "Digital")
                +PortfolioItem("assets/images/portfolio/11.jpg", "Classic Socks", "digital", "Branding")
                +PortfolioItem("assets/images/portfolio/11.jpg", "Expirience", "packaging", "Packaging")
                +PortfolioItem("assets/images/portfolio/9.jpg", "Montures", "branding digital packaging", "Digital")
                +PortfolioItem("assets/images/portfolio/8.jpg", "Architecture", "branding digital packaging", "Packaging")
                +PortfolioItem("assets/images/portfolio/1.jpg", "Architecture", "branding digital packaging", "Packaging")
                +PortfolioItem("assets/images/portfolio/2.jpg", "Architecture", "branding digital packaging", "Packaging")
    // Portfolio end