//
// Buttons
//

.btn {
    text-transform: $btn-text-transform;
    letter-spacing: $btn-letter-spacing;
    font-size: $btn-font-size;
    cursor: pointer;

    &:focus,
    &.focus {
        box-shadow: none;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        box-shadow: none;

        &:focus {
            box-shadow: none;
        }
    }

    &.btn-circle {
        border-radius: rem(30px);
    }

    .btn-icon-left {
        margin-right: 4px;
    }

    .btn-icon-right {
        margin-left: 4px;
    }
}

@include media-breakpoint-down(sm) {

    .btn.btn-block-mobile {
        display: block;
        width: 100%;
    }

}