//
// Maps
//

.maps-container {
    height: 500px;

    &.map-widget {
        height: 500px;
    }
}

.map {
    height: 100% !important;
    width: 100%;

    &:before {
        display: none;
    }
}
