//
// Player
//

.modal-video-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .2);
    margin-bottom: $paragraph-margin-bottom;

    img {
        width: 100%;
    }

    .play-button {
        width: 80px;
        height: 80px;
        border: 2px solid #fff;
        text-align: center;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -40px;
        margin-left: -40px;
        z-index: 4;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;

        &:after {
            position: absolute;
            top: 50%;
            margin-top: -8px;
            left: 50%;
            margin-left: -5px;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 0 7px 14px;
            border-color: transparent transparent transparent #ffffff;
        }

        &:hover {
            transform: scale(0.95);
        }
    }
}