//
// Social icons
//

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
        display: inline-block;
        margin: 0 20px 0 0;

        > a {
            font-size: rem(13px);
            color: $headings-color;
        }
    }
}

.social-icons > li > a:hover,
.social-icons > li > a:focus {
    color: $link-color;
}

.social-icons.text-center > li {
    margin: 0 10px 0 10px;
}

.social-icons.text-right > li {
    margin: 0 0 0 20px;
}