//
// Testimonials
//

.review-slides {
    text-align: center;
    padding: 0 40px;

    blockquote {
        letter-spacing: rem(.5px);
        font-size: rem(17px);
        padding: 20px 0;
        margin: 0;

        *:last-child {
            margin-bottom: 0;
        }
    }

    .blockquote-footer {
        letter-spacing: rem(.5px);
        opacity: .8;
    }

    .blockquote-footer::before {
        content: '';
    }
}

.review-slides .review-icons {
    margin: 0 auto 10px;
    width: 80px;

    img {
        border: 6px solid rgba(color("white"), .1);
        border-radius: 50%;
    }
}

@include media-breakpoint-down(sm) {

    .review-slides {
        .owl-next,
        .owl-prev {
            display: none;
        }
    }
}

//
// Testimonial cards
//

.review-card {
    background-color: $body-bg;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    transition: 0.3s ease-in-out;
    text-align: center;
    margin: 20px 0;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 16px rgba(90, 90, 90, .05);
    }
}

.review-card-author,
.review-card-content {
    padding-left: 30px;
    padding-right: 30px;
}

.review-card-content {
    position: relative;
    border-bottom: 1px solid $border-color;
    padding-top: 100px;
    padding-bottom: 40px;
    color: $body-color;

    &::before {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        font-size: rem(24px);
        content: "\f10e";
        opacity: .3;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

.review-card-author {
    padding-top: 25px;
    padding-bottom: 25px;

    .review-card-author-info .review-card-author-title {
        color: $headings-color;
        margin-bottom: rem(5px);
    }

   .review-card-author-info .star-rating {
        font-size: 12px;
    }
}

.review-card-author-photo {
    height: 64px;
    width: 64px;
    margin: 0 auto 14px;

    img {
        border-radius: 100%;
    }
}

//
// Stars Rating
//

.star-rating {
    letter-spacing: rem(1px);
    color: #f1c40f;
}