// Footer
footer.footer

    .footer-widgets
        .container

            .row

                .col-md-3
                    // Text widget
                    aside.widget.widget-text
                        .widget-title
                            h6 About Us
                        .textwidget
                            p Map where your photos were taken and discover local points of interest. Map where your photos.
                            p
                                |Location: 12 London Avenue, Suite 18<br>
                                |E-mail: support@theme.com<br>
                                |Phone: 8 800 123 4567<br>
                            ul.social-icons
                                li: a(href="#") #[i.fab.fa-twitter]
                                li: a(href="#") #[i.fab.fa-instagram]
                                li: a(href="#") #[i.fab.fa-facebook-f]
                                li: a(href="#") #[i.fab.fa-pinterest-p]

                .col-md-3
                    // Recent entries widget
                    aside.widget.widget-recent-entries
                        .widget-title
                            h6 Recent Posts
                        ul
                            li
                                a(href="#") Map where your photos were taken and discover local points.
                                span.post-date May 8, 2018
                            li
                                a(href="#") Map where your photos were taken and discover local points.
                                span.post-date April 7, 2018
                            li
                                a(href="#") Map where your photos were taken and discover local points.
                                span.post-date September 7, 2018

                .col-md-3
                    // Twitter widget
                    aside.widget.twitter-feed-widget
                        .widget-title
                            h6 Twitter Feed
                        .twitter-feed(data-twitter="345170787868762112" data-number="1")

                .col-md-3
                    // Recent works
                    aside.widget.widget-recent-works
                        .widget-title
                            h6 Portfolio
                        ul
                            li: a(href="#"): img(src="assets/images/widgets/1.jpg" alt="")
                            li: a(href="#"): img(src="assets/images/widgets/2.jpg" alt="")
                            li: a(href="#"): img(src="assets/images/widgets/3.jpg" alt="")
                            li: a(href="#"): img(src="assets/images/widgets/7.jpg" alt="")
                            li: a(href="#"): img(src="assets/images/widgets/8.jpg" alt="")
                            li: a(href="#"): img(src="assets/images/widgets/6.jpg" alt="")

    .footer-bar
        .container

            .row
                .col-md-12
                    .copyright
                        p © 2018 Boomerang, All Rights Reserved. Design with love by #[a(href="#") 2theme]
// Footer end